# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List open source tools used in data science

Some of the popular languages that Data Scientists use are:

    1. R
    2. Python
    3. Julia
    4. Scala

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- ggplot2
- Matplotlib

| Data Science Tools |
----------------------
| KNIME |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
minutes = 200
hour = 60
# This will convert 200 minutes to hours by diving by 60
result = minutes / hour
result

3.3333333333333335

## Author
Justine Remosura